body{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.landing{
    height: 100vh;
    position: relative;
}

.child {
    width: 400px;
    height: 100px;
    /* background-color: red; */
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  }

  .items{
    height: 100vh;
    position: relative;

  }
  .m1,.m2,.m3{
    width: 400px;
    height: 100px;
    top: 50%;
    left: 50%;
  }
  .m1 {
    width: 25%;
    float: left;
    padding: 15px;
    
  }
  .m2 {
    width: 25%;
    float: left;
    padding: 15px;
    
  }
  .m3 {
    width: 25%;
    float: left;
    padding: 15px;
    
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  